*{
	border:none;
	outline:none;
	padding:0;
	margin:0;
}
a{
	text-decoration:none;
	color:#185c87;
}
ul,li{
	list-style:none;	
}
.clear{
	width:0	 !important;
	height:0 !important;
	overflow:hidden;
}
body{
	direction:rtl;
	background:url(images/content-bg.jpg) repeat;	
	font-family:Tahoma, Geneva, sans-serif;
	font-size:13px;
	color:#185c87;
}
div.main{
	width:980px;
	margin:0 auto;
}
div.header{
	height:300px;
	background:url(images/bg-header.jpg) repeat;
	/*border-bottom:3px solid rgba(204,204,204,1);*/
	box-shadow:0 3px 2px #c8c8c8;
	-moz-box-shadow:0 3px 2px #c8c8c8;
	-webkit-box-shadow:0 3px 2px #c8c8c8;

}
div.bot-header{
	height:120px;
	background:url(images/patern.png) no-repeat 330px -2px;
}
div.welcome{
	width:320px;
	height:35px;
	float:left;
	overflow:hidden;
	background:url(images/bg-welcome.png) repeat-x;
	border:1px solid #a4b1bb;
	border-top:none;
	border-radius:0 0 10px 10px;
	-moz-border-radius:0 0 10px 10px;
	-webkit-border-radius:0 0 10px 10px;
}
div.welcome li{
	float:right;
	font-size:12px;
	color:#185c87;
	white-space:nowrap;
	padding:7px 3px;
	margin-left:9px;		
}
div.welcome li:first-child{
	padding-right:10px;	
}
div.welcome li a{
	display:inline-block;
	color:#185c87;
	font-weight:bold;
}
div.welcome li a:hover{
	color:#207eb8;
}
div.circle{
	width:60px;
	height:20px;
	float:left;
	clear:both;
	margin:5px 0 0 10px;
}
div.circle li{
	width:15px;
	height:15px;
	float:left;
	overflow:hidden;
	margin-right:3px;
}
div.circle li a{
	display:inline-block;
	width:13px;
	height:13px;
	opacity:0.8;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity = 80);
}
div.circle li a:hover{
	opacity:1;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity = 100);
}
div.circle li#c1 a{
	background:url(images/circle.png) no-repeat 0 -1px;
}
div.circle li#c2 a{
	background:url(images/circle.png) no-repeat -16px -1px;
}
div.circle li#c3 a{
	background:url(images/circle.png) no-repeat -31px -1px;
}
div.logo{
	width:280px;
	height:100px;
	float:right;
	margin-top:-40px;
	clear:both;
}



























div.wrapper{
	width:980px;
	margin:-100px auto 10px auto;
	background:url(images/bg-wrapper.png) #e1e5ec repeat-x;
	border:2px solid #f7f8f9;
	border-radius:20px;
	-moz-border-radius:20px;
	-webkit-border-radius:20px;
	box-shadow:0 0 2px #769abe;
	-moz-box-shadow:0 0 2px #769abe;
	-webkit-box-shadow:0 0 2px #769abe;
	padding:0 20px;
}
div.menu{
	float:left;
	width:310px;
	margin-top:-33px;
}
div.menu ul{
	
}
div.menu li{
	height:29px;
	float:right;
	overflow:hidden;
	background:url(images/bg-menu.png) repeat-x;
	border:2px solid #f7f8f9;
	border-bottom:none;
	border-radius:10px 10px 0 0;
	-moz-border-radius:10px 10px 0 0;
	-webkit-border-radius:10px 10px 0 0;
	box-shadow:0 -1px 2px #769abe;
	-moz-box-shadow:0 -1px 2px #769abe;
	-webkit-box-shadow:0 -1px 2px #769abe;
	margin-left:10px;
}
div.menu li a{
	display:block;
	padding:6px 10px;
	font-size:11px;
	color:#185c87;

}
div.menu li:hover a{
	color:#0077c2;
	text-shadow:0 0 2px #004571;
	-moz-text-shadow:0 0 2px #004571;
	-webkit-text-shadow:0 0 2px #004571;
}











div.right{
	width:320px;
	/*float:right;*/
	overflow:hidden;
	background:url(images/b2.png) repeat-y left 0;
	padding-left:20px;
}
div.box{
	width:inherit;
	float:right;
	padding:20px 0;
}
div.box > div{
	width:inherit;
	margin-bottom:10px;
	clear:both;
}
div.desc{
	height:160px;
	background:url(images/bg-desc.png) #b4bfc8 repeat-x;
	border:1px solid #ffffff;
	box-shadow:0 0 2px ##8494ac;
	-moz-box-shadow:0 0 2px ##8494ac;
	-webkit-box-shadow:0 0 2px ##8494ac;	
	border-radius:30px 30px 0 0;
	-moz-border-radius:30px 30px 0 0;
	-webkit-border-radius:30px 30px 0 0;
	margin-bottom:17px !important;
}
div.border{
	width:280px !important;
	height:2px;
	margin:0 auto;
	padding-bottom:2px;
	clear:both;
}
div.border span{
	display:block;
	height:inherit;
	background:url(images/b1.png) repeat-x;
}
div.right div.title{
	height:25px;
	background:url(images/bg-main.png) #c6cdd4 repeat-x;
	border:1px solid #aab8c2;
	border-radius:7px 7px 0 0;
	-moz-border-radius:7px 7px 0 0;
	-webkit-border-radius:7px 7px 0 0;
	clear:both;
	padding:0 6px;
	overflow:hidden;
}
div.title span#right{
	float:right;
	width:230px;
}
div.title span#right a{
	display:inline-block;
	font-size:12px;	
	color:#585858;
	padding:4px 15px;
	background:url(images/li-1.png) no-repeat right 4px;
}
div.title span#right a:hover{
	color:#6e6e6e;
}
div.title span#left{
	margin:0 240px 0 0;
	display:block;
	padding:4px 0;
}
span#left li{
	width:25px;
	height:20px;
	float:left;	
	margin-right:2px;
	overflow:hidden;
}
span#left li a{
	width:23px;
	height:19px;
	overflow:hidden;
	display:block;
}
span#left li:first-child a{
	background:url(images/up-down.png) no-repeat 0 0;
}
span#left li:first-child a:hover{
	background:url(images/up-down.png) no-repeat 0 -19px;
}
span#left li:last-child a{
	background:url(images/up-down.png) no-repeat -26px 0;
}
span#left li:last-child a:hover{
	background:url(images/up-down.png) no-repeat -26px -19px;
}
div.right div.cont{
	clear:both;
	margin-top:1px;
	border:1px solid #aab8c2;
	border-radius:0 0 5px 5px;
	-moz-border-radius:0 0 5px 5px;
	-webkit-border-radius:0 0 5px 5px;
	padding:8px 10px;
}
div.cont li{
	clear:both;
	float:none;
	background:url(images/li-2.png) no-repeat right 9px;
	padding:3px 12px 3px 0;
}
div.cont li:last-child{
	margin-bottom:5px;	
}
div.cont li a{
	display:inline-block;
	color:#161616;
	font-size:12px;
}
div.cont li a:hover{
	color:#3e3e3e;
	text-shadow:0 0 2px #797979;
	-moz-text-shadow:0 0 2px #797979;
	-webkit-text-shadow:0 0 2px #797979;	
}























